.header {
    padding: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    position:relative;
    top:-50px;
    background-color: lightblue;
    animation: colorChange 5s infinite alternate; 
}

@keyframes colorChange {
    0% { background-color: lightgoldenrodyellow }
    50% { background-color: lightpink }
    100% { background-color: lightblue; }
}

.navbar {
    padding: 10px;
    position: relative;
    top: -100px;
    background-color: black;
    justify-content: space-between;
    border-radius: 5px;
}

.right {
    float: right; 
    position: relative;
    left: 10px;
    margin: 0 10px;
}

button {
    background-color: #189ba7; 
    color: white; 
    padding: 10px 25px; 
    border: none;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: lightgray; 
}

.footer {
    padding: 1px;
    text-align: center;
    background: #000000;
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom:-20px;
}

.main{
    display: flex;
    align-items: flex-start; 
    margin: 20px;
    background-color: rgb(187, 176, 176);
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    top:-40px;
    font-family: sans-serif;
}

.text-content {
    flex: 1;
    margin-right: 20px; 
    position: relative;
    top: -5px;
    text-align: center;
}

body{
    background-color: lightgray;
}

.text-content img {
    width: 100%; 
    height: auto; 
}

.faq {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq:hover {
    background-color: #e7e7e7;
}

.faq-answer {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}